@use "variables" as variables;
@use "breakpoints";

/* Container */

.container {
    width: 100%;
    /* max-width: 75rem; */
    margin-inline: auto;
    padding: variables.$spacing-xl variables.$spacing-page;
}

/* App layout */

.app {
    min-height: 100vh;
    display: flex;
}

.main-content {
    display: flex;
    flex: 1;
    width: 100%;
    min-width: 0;
    margin: 0;
    overflow: hidden;
}

/* Sidebar */

.sidebar {
    /* width: 20vw; */
    min-height: 100vh;
    flex-shrink: 0;

    padding: variables.$spacing-xl variables.$spacing-lg;

    background: variables.$color-text;
    color: variables.$color-bg;

    display: flex;
    flex-direction: column;
}

/* Sidebar logo */

.sidebar__logo {
    border-bottom: 1px solid variables.$color-secondary;
}

/* Sidebar navigation */

.sidebar__nav {
    display: flex;
    flex-direction: column;

    gap: variables.$spacing-sm;
    margin-top: variables.$spacing-xxl;

    a,
    .sidebar__logout {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        gap: variables.$spacing-lg;
        padding: variables.$spacing-md;

        font-size: 0.95rem;
        color: variables.$color-bg;

        border: 1px solid variables.$color-secondary;
        border-radius: variables.$radius-sm;

        text-align: left;

        transition: color 180ms ease;

        &:hover {
            background-color: variables.$color-orange-hover;
            color: variables.$color-text;
            border: none;
        }
    }

    .login-button,
    .sidebar__logout {
        background-color: variables.$color-orange;
        border: none;
        color: variables.$color-text;

        &:hover {
            background-color: variables.$color-secondary;
            color: variables.$color-text;
            border: none;
        }
    }
}

.icon {
    width: variables.$spacing-lg;
    flex-shrink: 0;
}

/* Main content */

.main {
    flex: 1;
    min-width: 0;
    max-width: 100%;
    min-height: 100%;
    overflow-wrap: break-word;
}

/* Shared heading/layout styling */

.sidebar__logo,
.dashboard__header h1,
.page-header .clients-header h1,
.client-form__header h1,
.client-show__header h1,
.project-form__header h1,
.page-header__projects h1,
.intro-page__content {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -0.02em;

    padding: 0 0 variables.$spacing-lg variables.$spacing-lg;

    margin-left: calc(-1 * variables.$spacing-lg);
    margin-right: calc(-1 * variables.$spacing-lg);
}

/* responsiveness */

@include breakpoints.down(tablet) {

    .app {
        min-height: unset;
    }

    .main-content {
        flex-direction: column;
    }

    .sidebar {
        min-height: fit-content;
        width: 100%;
    }

    .sidebar__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-top: 2rem;

        a, .sidebar__logout {
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: center;
        }

    }

    .main {
        width: 100%;
    }
}
